body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box {
    height: 200px;
    border:1px solid #ccc;
    background: #0642e6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
/* Add gap on row */

/* .container{
    row-gap: 10px;
} */

/* Add gap on column */

/* .container{
    column-gap: 10px;
} */

/* Both */

/* .container{
    gap: 10px;
} */

